.label-input {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.custom-input {
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  opacity: 0.8;
}

.custom-input:focus {
  outline: none;
  opacity: 1;
  border-color: var(--theme);
  transition: all 0.2s ease-in-out;
}

.custom-input::placeholder {
  color: var(--black);
  opacity: 0.5;
}